# === Maven ===
# Compiled class file directory
target/
# Log Files
*.log
# Mavan Wrapper Classfiles
.mvn/wrapper/maven-wrapper.jar

# === Java ===
# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# === IDE ===
# IntelliJ IDEA specific files
.idea/
*.iml
*.ipr
*.iws
out/
build/ # Sometimes used by IDEs

# NetBeans specific files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Eclipse specific files
.classpath
.project
.settings/
bin/ # Sometimes used by Eclipse

# VS Code specific files
.vscode/

# === Operating System Files ===
# Mac OS X
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# === Other ===
# Environment variables file (if using properties file method)
# config.properties
# secrets.properties
# *.secret