
{% extends 'back/base.html.twig' %}

{% block title %}Modifier Réclamation{% endblock %}

{% block body %}
    <h1>Modifier Réclamation</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}