{% extends 'back/base.html.twig' %}

{% block title %}Edit Coupon{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Edit Coupon</h1>

        {{ include('coupon/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('app_coupon_index') }}" class="btn btn-secondary mt-3">Back to list</a>

        {{ include('coupon/_delete_form.html.twig') }}
    </div>
{% endblock %}
