{% extends 'back/base.html.twig' %}

{% block title %}Modifier un article{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Modifier un article</h1>
        {{ include('article/_form.html.twig') }}
    </div>
{% endblock %}